
hr #foot-border {
  overflow: visible;
  padding: 0em;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr #foot-border ::after{
  content: url("../images/logo.png");
  display: inline-block;
  position: relative;
  top: -0.7em;
  padding: 0 0.25em;
  background: white;
}

nav ul#social-media-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}

nav ul#social-media-icons li {
  display: inline;
}

button {
  margin: 3em;
}

.bio {
  display: inline;
}

.copyright {
  text-align: center
}

.right {
  float: right;
}

#author-info {
  display: block;
  margin: auto;
}

#first-half-list{
  float: left;
}

#recipe-list {
  background-image: url("../images/list-bg.png");
  margin: 1em;
  display: block;
  margin: auto;
  border: 1px solid #000000;
}

#second-half-list {
  float: right;
}